

<!DOCTYPE html>
<html>
<head>
    <title>Login for Vocal for Local</title>
    <style>
        body{
    max-width: 1300px;
    margin: auto;
    padding-left:200px ;
    padding-right:200px ;
    text-align: center;
    margin-top: 200px;
    background-color: darksalmon;
}
form{
    padding-top:50px ;
}
    </style>
</head>

<body>
<h1>Login page for VocalforLocal</h1>
<form method="post" action="/addname">
    <label>Enter Your Name And Password</label><br>
    <input type="text" name="Name" placeholder="Enter Name..." required>
    <input type="text" name="Pasword" placeholder="Password..." required>
    <input type="submit" value="Login">
</form>
</body>
</html>